  {{define "title"}}  Listar Cuentas
   {{end}}
   {{define "head"}}  
   {{end}}

   {{define "pagi"}}
     <div class="cwrapper">
        {{ range $index, $btn := .slice }}
            {{if eq $btn $.current}}
               <div class="button color2">
                  <a class="label" href="/user/list/{{$btn}}"> << {{$btn}} >></a>
            {{else}}
               <div class="button color1">
                  <a class="label" href="/user/list/{{$btn}}"> {{$btn}}</a>
            {{end}}
               </div>
         {{end}}
     </div>
   {{end}}


  {{define "content"}}
       {{$NLev := .Level}}

      <div class="lwidth2">
          <h3 class="mcenter"> {{template "title" . }} </h3>
	  <div class="lwrapper fcols7">
             <div class="box"> Cuenta      </div>
             <div class="box"> Apto      </div>
             <div class="box"> Nombre      </div>
             <div class="box"> Apellido    </div>
             <div class="box"> Email      </div>
             <div class="box"> Phone      </div>
             <div class="box"> Nivel	   </div>
             {{ if or ( eq $NLev 3)  ( eq $NLev 4)}}
                <div class="box">   
                  <a class="btn btn-warning" href ="#">  Ed </a> 
                </div>
             {{end}} 
             {{ if eq $NLev 5}}
                <div class="box">   
                <span>
                  <a class="btn btn-warning" href ="#">  Ed </a> 
                  <a class="btn btn-danger" href ="#">  Del </a> 
                </span>
                </div>
             {{end}} 
      </div>
      {{  range  .LisRegis}}
         <div class="lwrapper fcols7">
           <div class="box"> {{ .Usu.Cuenta }} </div>
           <div class="box"> {{ .Apto.Codigo }} </div>
           <div class="box"> {{ .Pers.Fname }} </div>
           <div class="box"> {{ .Pers.Lname }} </div>
           <div class="box"> {{ .Pers.Email }} </div>
           <div class="box"> {{ .Pers.Tele }} </div>
           <div class="box"> {{ .Usu.Nivel }} </div>
           {{ if or ( eq $NLev 3)  ( eq $NLev 4)}}
              <div class="box">
                <a class="btn btn-warning" href="/user/update/{{.Usu.Id}}/{{$.current}}" > Ed </a>
              </div>
           {{end}} 
           {{ if eq $NLev 5}}
              <div class="box">
                <span>
                    <a class="btn btn-warning" href="/user/update/{{.Usu.Id}}">Ed </a>
                    <a class="btn btn-danger"  href="/user/delete/{{.Usu.Id}}">Del</a>
                </span>
              </div>
           {{end}} 
         </div>
      {{end}}
      {{template "footer" .}}
  {{end}}

{{define "foot"}}{{end}}
