{{define "title"}}About{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	<p>
           Bienvenido</br>
           Aplicación y páginas de acceso a la administración del condominio
           </br>
           Imperial II
           </br>
           No sólo se listan los Estados registrados
           </br>
           sino que vemos ademas hay comunicación entre condomines y administración
        </p>
	<p>
            Todo simple
           </br>
            Pero para mayor informacion conseguir cuenta y clave
        </p>
	{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}
