{{define "title"}}Mi Condo{{end}}
{{define "head"}}{{end}}
{{define "content"}}
 <div class="container">
	<div class="page-header">
		<h1>Saludos {{.cuenta}}  </h1>
	</div>
    <p>
       Bienvenido a esta aplicacion de manejo de condominio</br>
       Nuestro telefono es 809-919-0374  </br>
       Y mi correo es gato.pardo@gmail.com
    </p>
	<p>
</p>

	{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}
