{{define "title"}}Estado Apto{{end}}
{{define "head"}}  
 
{{end}}

 {{define "content"}}
      <div class="lwidth">
          <h3 class="center"> {{template "title" . }} </h3>
	  <div class="lwrapper fcols5b">
               <div class="box"> Apto     </div>
               <div class="box"> {{.Apt.Codigo}}     </div>
               <div class="box"> {{.Pers.Fname | CONCATSTR  .Pers.Lname}}  </div>
               <div class="box">             </div>
               <div class="box">             </div>
          </div>

	  <div class="lwrapper fcols5b">
             <div class="box"> Period       </div>
             <div class="box"> Cuota        </div>
             <div class="box"> Fecha       </div>
             <div class="box"> Pago        </div>
             <div class="box"> Balance       </div>
          </div>

     {{ range  .LisPaym}}
         <div class="lwrapper fcols5b">
            <div class="box"> {{ .Inicio   | DATEFORMAT }} </div>
            <div class="box"> {{ .Cuota    | FORMAT64 }} </div>
         {{ if eq .Amount 0 }}
            <div class="box"> </div> <div class="box"> </div>
         {{ else }}   
            <div class="box"> {{ .Fecha    | DATEFORMAT }} </div>
            <div class="box"> {{ .Amount   | FORMAT64 }} </div>
         {{end }}
         {{ if eq .Balance 0 }}
            <div class="box"> </div> 
         {{ else }}   
            <div class="box"> {{ .Balance  | FORMAT64 }} </div>
         {{end }}
         </div>
     {{end}}
      {{template "footer" .}}
{{end}}

{{define "foot"}}{{end}}
