{{define "title"}}Actualizar Balance{{end}}
{{define "head"}}
{{end}}

{{define "content"}}
  <div class="fcontent">
       <h3 class="mcenter">{{template "title" .}}</h3>
       <form method="post">

	   <div class="fwrapper fcols2">
              <div class="fbox">
                 <label for="Periodo">Periodo</label>
              </div>
              <div class="fbox">
                 <input type="text" id="periodo" name="periodo" size="12"  value="{{.Balan.Period | DATEFORMAT}}" readonly autofocus />
              </div>
           </div>
		
	   <div class="fwrapper fcols4">
              <div class="fbox">
                 <label for="amount">Monto</label>
              </div>
              <div class="fbox">
                 <input type="text" id="amount" name="amount" size="16"  value="{{.Balan.Amount | FORMAT64}}" />
              </div>
              <div class="fbox" >Check </div>
              <div class="fbox" >
                  <input type="checkbox" name="ckamount" value="true">
              </div>
           </div>

	   <div class="fwrapper fcols4">
              <div class="fbox">
                 <label for="cuota">Cuota</label>
              </div>
              <div class="fbox">
                 <input type="text" id="cuota" name="cuota" size="12"  value="{{.Balan.Cuota | FORMAT64}}" />
              </div>
              <div class="fbox" >Check </div>
              <div class="fbox" >
                  <input type="checkbox" name="ckcuota" value="true">
              </div>
           </div>

	   <div class="fwrapper fcols2">
              <div class="fbox">
		 <input type="hidden" name="token" value="{{.token}}">
              </div>
              <div class="fbox">
                 <span>
                 <input type="submit" name="action" value="Actualizar" />
                 <input type="submit" name="action" value="Cancelar" />
                 </span>
              </div>
           </div>
		
	</form>
	
	{{template "footer" .}}
  </div>

{{end}}
{{define "foot"}}{{end}}
