{{define "title"}}Listar Ingresos{{end}}
{{define "head"}}  {{end}}
{{define "header"}}Listar Ingresos{{end}}
{{define "foot"}}
 <h5 class="center">
       Ingresos 
     del {{.Per.Inicio | DATEFORMAT }} 
    al   {{.Per.Final  | DATEFORMAT }} </h5> 
 {{end}}


 {{define "content"}}
      <div class="lwidth">
          <h3 class="center"> {{template "header" . }} </h3>

     <form action="/ingreso/list"  method="post">

   	<div class="lwrapper fcols4">
           <div class="box">
               <label for="period" >Periodo</label>
           </div>
           <div class="box">
               <select name="id"> 
                  {{range $key, $value := .LisPeriod}}
                    {{ if eq $value.Id  $.Per.Id }}
                    <option value="{{ $value.Id }}" selected>{{ $value.Inicio | DATEFORMAT }} </option>
                    {{else}}
                    <option value="{{ $value.Id }}" >{{ $value.Inicio | DATEFORMAT }} </option>
                    {{end}}
                  {{end}}
               </select>
           </div>
           <div class="box">
                 <span>
		<input type="submit" name="action"  value="Seguir" />
		<input type="submit" name="action"  value="Cancelar" />
                 </span>
           </div>
           <div class="box">
		<input type="hidden" name="token" value="{{.token}}">
           </div>
        </div>
       </form>

	  <div class="lwrapper fcols5c">
               <div class="box">             </div>
               <div class="box"> Periodo     </div>
               <div class="gbox"> De {{.Per.Inicio  | DATEFORMAT }}     </div>
               <div class="gbox"> Al {{.Per.Final  | DATEFORMAT }}     </div>
               <div class="box">             </div>
          </div>

	  <div class="lwrapper fcols5a">
             <div class="box"> Tipo      </div>
             <div class="box"> Fecha      </div>
             <div class="box"> Monto      </div>
             <div class="box"> Descripcion      </div>
             {{ if or ( eq $.Level 3)  ( eq $.Level 4)}}
                <div class="box">   
                  <a class="btn btn-warning" href ="#">  Ed </a> 
                </div>
             {{end}} 
             {{ if eq $.Level 5}}
                <div class="box">   
                  <span>
                  <a class="btn btn-warning" href ="#">  Ed </a> 
                  <a class="btn btn-danger" href ="#">  Del </a> 
                  </span>
                </div>
             {{end}} 
          </div>

     {{ range  .LisIngre}}
          <div class="lwrapper fcols5a">
             <div class="box"> {{ .Tipo  }} </div>
             <div class="box"> {{ .Fecha | DATEFORMAT }} </div>
             <div class="box"> {{ .Amount | FORMAT64 }} </div>
             <div class="box"> {{ .Descripcion  }} </div>
                {{ if or ( eq $.Level 3)  ( eq $.Level 4)}}
              <div class="box">
                <a class="btn btn-warning" href="/ingreso/update/{{.Id}}" > Ed </a>
              </div>
               {{end}} 
           {{ if eq $.Level 5}}
              <div class="box">
                  <span>
                    <a class="btn btn-warning" href="/ingreso/update/{{.Id}}" > Ed </a>
                   <a class="btn btn-danger" href="/ingreso/delete/{{.Id}}" > Del </a>
                </scan>
                  </span>
              </div>
           {{end}} 
         </div>
      {{end}}

{{end}}
         <div>
            {{template "footer" .}}
         </div>

